 p.passw_1 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 113%;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: 6%;
}
    .form-pwd, .gm {
    display: block;
    width: 30%;
    height: 50px;
    margin-top: auto;
    margin-left: 25%;
    border: 1px solid #333;
    background: rgb(255 255 255 / 20%);
}
.gm {
    background: #4654fb;
    cursor: pointer;
}
form {
    width: 100%;
}
.msg {
    display: none;
    color: red;
    margin: auto;
    margin-left: 0;
}
.gm {
    width: 34%;
    margin-left: -24%;
    display: inline-block;
    margin-top: 4%;
}
.file_list{display:none !important;}