{% extends 'index.html' %}
{% block title %}
    <title>修改密码</title>
<link rel="stylesheet" href="{%static 'css/reclaim.css'%}">
<link href="{% static 'css/ChangePassword.css'  %}"  rel="stylesheet"/>
<style>.file1 {
    width: 100%;

    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

</style>

{% endblock title %}
{% block up %}

<div class="file1" id="file">
    <form action="{% url 'myapp:ChangePassword' %}" method="post" novalidate class="errors">
        {% csrf_token %}
        <p class="passw_1 errors_01">{{ChanPasswd.password}} <b class="msg">{{ ChanPasswd.password.errors.0 }}</b></p>
        <p class="passw_1 errors_02 errors_02s">{{ChanPasswd.password2}} <b class="msg">{{ ChanPasswd.password2.errors.0 }}</b></p>
        <p class="passw_1 errors_02 errors_03">{{ChanPasswd.password3}} <b class="msg">{{ ChanPasswd.password3.errors.0 }}</b></p>
         <button class="gm">确定修改密码</button>

    </form>
    {% if msg == "请按照提示正确无误输入各项数据，请更正后重新修改" %}
       <script type="text/javascript">
          alert("请按照提示正确无误输入各项数据:\n"+"{{ ChanPasswd.password.errors.0 }}\n"+"{{ChanPasswd.password2.errors.0 }}\n"+"{{ChanPasswd.password3.errors.0 }}")
       </script>
    <style>
        .msg{display:inline-block}
        .gm {
    width: 34%;
    margin-left: -10%;
    display: inline-block;
    margin-top: 4%;
}
    </style>
    {%else%}
    <style>
    .form-pwd {
    display: block;
    width: 30%;
    height: 50px;
    margin-top: auto;
    margin-left: -33%;
    border: 1px solid #333;
    background: rgb(255 255 255 / 20%);
}

</style>
       {% endif %}
    {% if msg == "原密码错误，请更正后重新修改或<a href='../forgetpassword'>忘记密码</a>" %}
    {% autoescape off %}<p class="msg"><b>{{msg}}</b></p>{% endautoescape %}
     <script type="text/javascript">
        alert("原密码错误，请更正后重新修改\n")
     </script>
    {% endif %}
    {% if msg == "两次新密码不相同，请更正后重新修改" %}
    <p class="msg"><b>{{msg}}</b></p>
     <script type="text/javascript">
        alert("两次新密码不相同，请更正后重新修改\n")
     </script>
    {% endif %}
    {% if msg == "原密码不能跟新密码相同，请更正后重新修改" %}
    <p class="msg"><b>{{msg}}</b></p>
     <script type="text/javascript">
        alert("原密码不能跟新密码相同，请更正后重新修改\n")
     </script>
    {% endif %}
</div>
<style>.file_list{display:none !important;}</style>

{% endblock up %}







