{% extends 'index.html' %}
{% block title %}
    <title>修改密码</title>
{% endblock title %}
{% block center %}
<div class="book-center">
    <style>
        #use {
    display: block;
}
.form-pwd,.gm{
    display: block;
    width: 50%;
    height: 50px;
    margin-top: 50px;
    margin-left: 25%;
    border: 1px solid #333;
}
.gm {
    background: #4654fb;
    cursor: pointer;
}

.time {
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: center;
}
.msg {
    background: yellow;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0%;
}
.msg>a {
    text-decoration: none;
    color: #0800ff;
}
.errors {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 90%;
    z-index: -1;

}
input{background: rgba(255,255,254,0)}
.errors_01 {
    position: absolute;
    top: 17%;
    left: 43%;
}
p.errors_02s {
    position: absolute;
    top: 45%;
    left: 42%;
}
.errors_03 {
    position: absolute;
    top: 73%;
    left: 40%;
}
    </style>

    <form action="{% url 'myapp:ChangePassword' %}" method="post" novalidate>
        {{ChanPasswd.password}}
        {{ChanPasswd.password2}}
        {{ChanPasswd.password3}}
         <button class="gm">确定修改密码</button>
    </form>
    <p class="time"><b>{{request.session.name}}</b>,最晚修改数据时间:{{use|date:"Y-m-d H:i:s"}}</p>
     {% if msg == "请按照提示正确无误输入各项数据，请更正后重新修改" %}
       <script type="text/javascript">
          alert("请按照提示正确无误输入各项数据:\n"+"{{ ChanPasswd.password.errors.0 }}\n"+"{{ChanPasswd.password2.errors.0 }}\n"+"{{ChanPasswd.password3.errors.0 }}")
       </script>
       <div class="errors" class="errors">
           <p class="msg"><b>{{msg}}</b></p>
           <p style="color:red" class="errors_01">{{ ChanPasswd.password.errors.0 }}</p>
           <p style="color:red" class="errors_02 errors_02s">{{ ChanPasswd.password2.errors.0 }}</p>
           <p style="color:red" class="errors_02 errors_03">{{ ChanPasswd.password3.errors.0 }}</p>
       </div>
       {% endif %}
    {% if msg == "原密码错误，请更正后重新修改或<a href='../forgetpassword'>忘记密码</a>" %}
    {% autoescape off %}<p class="msg"><b>{{msg}}</b></p>{% endautoescape %}
     <script type="text/javascript">
        alert("原密码错误，请更正后重新修改\n")
     </script>
    {% endif %}
    {% if msg == "两次新密码不相同，请更正后重新修改" %}
    <p class="msg"><b>{{msg}}</b></p>
     <script type="text/javascript">
        alert("两次新密码不相同，请更正后重新修改\n")
     </script>
    {% endif %}
    {% if msg == "原密码不能跟新密码相同，请更正后重新修改" %}
    <p class="msg"><b>{{msg}}</b></p>
     <script type="text/javascript">
        alert("原密码不能跟新密码相同，请更正后重新修改\n")
     </script>
    {% endif %}
</div>
{% endblock center %}
