{% extends 'register.html' %}
{% block title %}
    <title>重置密码</title>
<style>.zc1{
    text-align:center;
    text-decoration: none;
    color:#6c757d;
    font-size: 1.075rem!important;
    font-weight: 700!important;
    margin-top: 0;
}</style>
{% endblock title %}
{% block reg1 %}
   <div class="reg" id="reg1">
       <header>
           <h1>
                <a href="admin">
                    重置密码
                </a>
            </h1>
            <p>
                    相信你会再次进入此页面
            </p>
       </header>
       <form action="{% url 'myapp:forgetpassword' %}" method="POST" class="from-register" novalidate>
                  {% csrf_token %}
                 {{forgetpassword_form.username}}
           <div class="email">
                 {{forgetpassword_form.email}}
                <select class="from-select" name="email2">
                    <option value="@qq.com">@qq.com</option>
                    <option value="@gmail.com">@gmail.com</option>
                    <option value="@163.com">@163.com</option>
                    <option value="@yahoo.com">@yahoo.com</option>
                    <option value="@sina.com">@sina.com</option>
                    <option value="@126.com">@126.com</option>
                    <option value="@outlook.com">@outlook.com</option>
                    <option value="@yeah.net">@yeah.net</option>
                    <option value="@foxmail.com">@foxmail.com</option>
                </select>
           </div>
           {{forgetpassword_form.password}}
           {{forgetpassword_form.password2}}
           <div class="email">
           {{forgetpassword_form.code}}
        <img id="canvas" onclick="changeImg(this);" src="{% url 'myapp:code' %}" alt="" title="点击更换">
         <script>

        // 通过changeImg事件来更换图片
        function changeImg(ths) {
            ths.src = ths.src + '?';
            console.log(ths.src);
        }
    </script>
           </div>
           <button type="submit" class="btn btn-block">
               <span>
                 <i class="si si-emoticon-smile mr-1" ></i>
<!--                 fa fa-sign-in fa-1x logo-1-->
                 重置密码
               </span>
           </button>
          {%if msg == "请正确的输入各项数据"%}
           <div class="error">
               <p class="msg" style="text-align: center"><b>{{ msg }}</b></p>
               <p class="p1" style="text-align: center">{{ forgetpassword_form.username.errors.0 }}</p>
               <p class="p2" style="text-align: center">{{ forgetpassword_form.email.errors.0 }}</p>
               <p class="p3" style="text-align: center">{{ forgetpassword_form.password.errors.0 }}</p>
               <p class="p4" style="text-align: center">{{ forgetpassword_form.password2.errors.0 }}</p>
               <p class="p5" style="text-align: center">{{ forgetpassword_form.code.errors.0 }}</p>
           </div>
           <script type="text/javascript">
               alert("请按规则输入账户或密码:\n"+"{{ forgetpassword_form.username.errors.0 }}\n"+"{{ forgetpassword_form.email.errors.0 }}\n"+"{{ forgetpassword_form.password.errors.0 }}\n"+"{{ forgetpassword_form.password2.errors.0 }}\n"+"{{ forgetpassword_form.code.errors.0 }}")
           </script>
           {%endif%}
           {% if msg == "用户名或者邮箱有误，请重新输入"%}
           <p class="msg" style="text-align: center"><b>{{ msg }}</b></p>
           <script type="text/javascript">
               alert("用户名或者邮箱有误，请重新输入\n")
            </script>
           {% endif %}
           {% if msg == "新密码与旧密码相同,请重新更换新密码"%}
           <p class="msg" style="text-align: center"><b>{{ msg }}</b></p>
           <script type="text/javascript">
               alert("新密码与旧密码相同,请重新更换新密码\n")
            </script>
           {% endif %}
           {% if msg == "两次密码不相同"%}
           <p class="msg" style="text-align: center"><b>{{ msg }}</b></p>
           <script type="text/javascript">
               alert("两次密码不相同\n")
            </script>
           {% endif %}
            {% if msg == "请正确的输入验证码"%}
           <p class="msg" style="text-align: center"><b>{{ msg }}</b></p>
           <script type="text/javascript">
               alert("请正确的输入验证码\n")
            </script>
           {% endif %}
    <a href="{% url 'myapp:user' %}" class="zc1">
          <div class="btn btn-block  btn-block1">
                 <i class="si si-emoticon-smile mr-1" ></i>
<!--                 fa fa-sign-in fa-1x logo-1-->
                 返回登录
           </div>
      </a>
 </form>
 </div>
  {% endblock reg1 %}






