
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>首页</title>
    {% endblock title %}
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'css/index.css'  %}"  rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{%static 'JS/vue.js'%}" type="text/javascript" charset="utf-8"></script>



</head>

<body>


<div class="body_bg"></div>
<header class="header">
         <div class="hove">
             <a href="#">全村的希望</a>
         </div>
         <div class="user">

             <div class="yhm">欢迎,{{request.session.name}}<i class="fa fa-fw fa-angle-down ml-1"></i>
             <i class='fa fa-angle-up hidden'></i>
             </div>

         </div>
        <div class="logout">
                <a href="{% url 'myapp:logout'%}">退出登录</a>
         </div>
  </header>
<div class="section">
<div class="list">
    <div class="list1">
        <p onclick="display_0()">个人信息
        <i class="fa fa-fw fa-angle-down ml-1" id="fa-angle-down_0"></i>
             <i class='fa fa-angle-up' id="hidden_0"></i>
        </p>
        <div class="G1" id="list_0">
            <p><a href="{%url 'myapp:ChangePassword'%}">修改密码</a></p>
        </div>
        <p onclick="display()">
            空间明细
            <i class="fa fa-fw fa-angle-down ml-1" id="fa-angle-down"></i>
             <i class='fa fa-angle-up' id="hidden"></i>
        </p>

    </div>
    <div class="G1" id="list2">

        {%for use1 in use %}
        {% verbatim %}
        <p class="text">
       <span id="data">{{Usedspace}}/{{capacity}}</span>
        </p>
        {% endverbatim %}
<script type="text/javascript">
            var Usedspace=Number("{{use1.Usedspace}}").toFixed(2);
            var capacity=Number("{{use1.capacity}}").toFixed(2);
            var width=Usedspace/capacity*100

            width=width.toFixed(3)
</script>
<script src="{%static 'JS/index_vue.js'%}" type="text/javascript"></script>
        {%endfor%}

        <div class="container1" id="container"><div class="skills loading" id="skills" :style="TheStyle"></div></div>
{% verbatim %}<p><span id="data1" >{{width1}}%</span></p>{% endverbatim %}
<script src="{%static 'JS/index_vue.js'%}" type="text/javascript"></script>


        {%if width >= 80 %}
        <style>

            #data1,#data{color:red}
        </style>
        {%elif width >= 60 and width < 80 %}
         <style>

             #data1,#data{color:yellow}
         </style>
        {% else %}
        <style>

             #data1,#data{color:#4CAF50}
        </style>
        {%endif%}
    </div>

    <div class="file1" id="file1" onclick="inde1x()"><p><a class="reclaim" href="{% url 'myapp:index' %}?folder={{request.session.fileisfolder}}">我的文件<i class="fa fa-angle-right fa-0.3x"></i></a></p></div>

    <div class="file1" id="reclaim" ><p><a class="reclaim" href="{% url 'myapp:reclaim' %}?folder={{request.session.fileisfolder}}" >回收站<i class="fa fa-angle-right fa-0.3x"></i></a></p></div>

    <script type="text/javascript" src="{%static 'JS/ajax.js' %}"></script>
</div>
<div class="file" id="file">
    {%block up%}
<nav class="up">
    <div onclick="document.form1.picpath.click()" class="picpath1 botton_1"><p class="upfile" >上传文件</p></div>
    <form name="form1" action="{%url 'myapp:upfile' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
　<input type="file" name="picpath" id="picpath" style="display:none;" onChange="document.form1.path.value=this.value" >
        <input type="submit" value="提交" class="botton_1"/>
    </form>
    <!--{%url 'myapp:New_folder'%}-->
    <div class="picpath1 botton_1" id="div_add" ><a href="#">新建文件夹</a></div>
    <div>

    </div>
    {% if request.session.msg == "当前路径已存在新创建的文件夹名称，请重新命名"%}
            <p class="msg" style="text-align: center;color:red "><b>{{request.session.msg}}</b></p>
    {%elif msg == "请选择文件后，再次上传"%}
        <script type="javascript/text">
            alert("{{request.session.msg}}");
            window.history.back(-1);
            sessionStorage.setItem("msg","1");
        </script>
        {{request.session.msg}}
    {%elif msg == "该路径下有相同的文件，请修改文件名后再次上传"%}
         <script type="javascript/text">
            alert("{{request.session.msg}}")
            window.history.back(-1);
            sessionStorage.setItem("msg","1");
        </script>
    {{request.session.msg}}
    {% elif request.session.msg == "请输入新文件夹名称" %}
    <p class="msg" style="text-align: center;color:red "><b>{{request.session.msg}}</b></p>
    {% elif request.session.msg == "文件夹名称中不能包含.等特殊字符" %}
    <p class="msg" style="text-align: center;color:red "><b>{{request.session.msg}}</b></p>
    {% elif request.session.msg == "请选择文件夹或文件" %}
    <p class="msg" style="text-align: center;color:red "><b>{{request.session.msg}}</b></p>
    {% elif request.session.msg == "请重新选择文件，再来重命名" %}
    <p class="msg" style="text-align: center;color:red "><b>{{request.session.msg}}</b></p>
    {% elif request.session.msg == "请选择需要重命名的文件或文件夹" %}
    <p class="msg" style="text-align: center;color:red "><b>{{request.session.msg}}</b></p>
    {% elif request.session.msg == "文件名称中需要包含.等特殊字符" %}
    <p class="msg" style="text-align: center;color:red "><b>{{request.session.msg}}</b></p>
    {%else%}
    {{msg}}
     {%endif%}
</nav>
<div class="vav2">

    <p>位置:
<!--        {% if request.GET.folder == None or request.GET.folder == ""%}-->
<!--        {{request.session.name}}-->
<!--        {%else%}-->
<!--        {{request.GET.folder}}-->
<!--        {%endif%}-->
{% verbatim %}
        <span  id="mac" >
            <a v-for="Filoc in File"  id="mac_a" >
            {{Filoc}}
            </a>
        </span>
{% endverbatim %}
        <script>
            var mac=location.search.split("=");
            var mac1=decodeURIComponent(mac[1]);
            mac2="{{request.get.folder}}";
            console.log(mac2,mac1)
            if( mac== "" ){

                    console.log(mac);
                    var File_location=new Vue({
                      el:"#mac",
                      data:{

                       File:["{{request.session.name}}"],
                       mac_url1:mac_url,
                       }
                      });

            }else{
            mac2=mac1.split("\\");
            var mac3=[mac2[0]];
            var mac_url=["?folder="];
            for(var i=1; i<mac2.length;i++){
                mac2_1="\\"+mac2[i];
                mac3.push(mac2_1);
            }

            var mac4=mac3
            for(var a=1; a<mac4.length;a++){
                if(mac4[a-1]=="{{request.session.name}}"){
                    mac4s="?folder="+mac4[a-1]+mac4[a];
                    mac_url.push(mac4s);
                }else{
                mac4s="?folder={{request.session.name}}"+mac4[a-1]+mac4[a];
                mac_url.push(mac4s);
                }
            }
                console.log(mac4,mac_url)
            var File_location=new Vue({
                      el:"#mac",
                      data:{
                       File:mac4,
                       }
                      });
          }
        </script>


    </p>
</div>
    {%endblock up%}
<form action="" method="post" name="menu" class="menu">
    {% csrf_token %}
<div class="file_list" id="div_body">

   {% comment %}展示文件夹{%endcomment%}
    <div>

 {%if request.GET.folder == None or request.GET.folder == "" or request.GET.folder == request.session.name %}
        <P class="list_file2">文件名</p>
 {%else%}
        <p type=button value="Previous Page" onClick="javascript:history.go(-1);" class="Previous list_file">../</p></br>
        <style>
            .Previous{
            display:block;
            width:0
            }
        </style>
        <P class="list_file2">文件名</p>

 {% endif %}
        <p class="msg1">该文件夹暂无文件，请上传后重新进入</p>

    {%for folder1 in folder  %}
        {% if folder1.file_is_folder == request.session.fileisfolder %}
        <P class="list_file">{% block input %}<input id="checkbox1" name="checkbox1" type="checkbox" value="{{folder1.File}}"><a href="{%url 'myapp:index' %}?folder={{folder1.file_is_folder}}\{{folder1.File}}">{{folder1.File}}</a>{% endblock input %}</P></br>
        {%endif%}
    {%endfor%}
    </div>
<div id="adduse" style="display:none">
       <p>
          请输入新建文件夹名称:
          <input type="text" name="folder_name" placeholder="新建文件夹" maxlength="45">
          <button id="save" onclick="New_folder()" class="botton_2">保存</button>
          <input type="button" value="取消" id="cancle"  class="botton_2"/>
       </p>
</div>
   <div>
    {%for folder2 in folder2 %}
       {% if folder2.file_is_folder == request.session.fileisfolder %}
   <P class="list_file" >{% block input2 %}<input id="checkbox2" name="checkbox2" type="checkbox" value="{{folder2.File}}文件"><a href="{%url 'myapp:upfile' %}{{folder2.file_is_folder}}/{{folder2.File}}">{{folder2.File}}</a>{% endblock input2 %}</P>
       </br>
       {% endif %}
    {%endfor%}
    </div>
    <div id="renname" class="renname">
          <input type="text" name="folder_name1" placeholder="请输入新文件(夹)名称" maxlength="45" class="renname1">
          <button id="save1" onclick="rename()" class="botton_2" >确认修改</button>
    </div>
        {% block del %}
    <div class="botton-select">
        <button id="delte" type="submit" value="" onclick="Delete()" class="botton_1 botton_2">删除</button><!---->
        <div id="botton_1" class="botton_1 botton_2" type="submit" value="" onclick="renname1()"><a href="{% url 'myapp:renname1' %}?folder={{request.session.fileisfolder}}">重命名</a></div>
    </div>

    {% endblock del %}
    <script type="text/javascript">
        function Delete(){
        document.menu.method="post";
        document.menu.action="{%url 'myapp:Delete'%}";
        document.menu.submit();
        }
        function rename(){
        document.menu.method="post";
        document.menu.action="{%url 'myapp:rename'%}";
        document.menu.submit();
        return true;
        }
        function New_folder(){
        document.menu.method="post";
        document.menu.action="{% url 'myapp:New_folder' %}";
        document.menu.submit();
        return true;}
        var botton_1=document.getElementById('botton_1');
        botton_1.style.display="block"
        var checkbox1 = document.getElementsByName("checkbox1");
        var checkbox2 = document.getElementsByName("checkbox2");
        if(checkbox1.checked >= 2 ){
            botton_1.style.display="None"
        }else{
         botton_1.style.display="inline-block"
        }

    </script>
</div>
<div class="time">
    {%if request.GET.folder == None or request.GET.folder == ""%}
        <p class="list_file1">文件上传时间</p>
 {%else%}
        <p type=button value="Previous Page" onClick="javascript:history.go(-1);" class="Previous list_file"></p></br>
        <style>
            .Previous{
            display:block;
            }
        </style>
         <p class="list_file1">文件上传时间</p>
 {% endif %}
    {%for folder1 in folder  %}
       {% if folder1.file_is_folder == request.session.fileisfolder %}
   <P class="time_p" >{{folder1.Upload_date|date:"Y-m-d H:i:s" }}</P>
        {% endif %}
    {%endfor %}
    {%for folder2 in folder2 %}
       {% if folder2.file_is_folder == request.session.fileisfolder %}
   <P class="time_p" >{{folder2.Upload_date|date:"Y-m-d H:i:s" }}</P>
        {%endif%}
    {% endfor %}





</div>
</form>

<script>
    $("#div_add").click(function() {
            $('#adduse').show();
        })
        $("#cancle").click(function() {
            $('#adduse').hide();
        })
        $("#save").click(function() {
            $('#adduse').hide();
            $("#div_body").append("正在新建文件夹")
        })

        /* 删除 */
        function delRow(obj) {
            $(obj).parent().remove();
            alert("删除成功")
        }
</script>
</div>


</div>
          {% if folder3 == 1%}
                <style>
                    .list_file2,.list_file1,.botton-select{display:inline-block;;}
                    .msg1{
                    display:none;
                    }
                </style>
          {% else %}
                <style>
                    .list_file2,.list_file1,.botton-select{display:none;}
                    .msg1{
                    display:block;
                    }
                </style>
            {% endif %}
{% comment %}
<!--<div id="p">-->
<!--<p v-if="a==2" >1</p>-->
<!--<p v-else-if="a==3" >2</p>-->
<!--<p v-else-if="b==6 && a==5"  >3</p>-->
<!--<p v-else >4</p>-->
<!--</div>-->
<!--<script type="text/javascript">-->
<!--    var pdawd=new Vue({-->
<!--    el:"#p",-->
<!--    data:{-->
<!--    a:51,-->
<!--    b:6,-->
<!--    }-->

<!--    })-->
<!--</script>-->
{% endcomment %}
</body>
</html>