{% extends 'index.html' %}
{% block title %}
    <title>重命名</title>
<link href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'index.css'  %}"  rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>#renname{display:block}</style>
{% endblock title %}
{% block input %}

<input id="checkbox1" name="checkbox1" type="radio" value="{{folder1.File}}"><a href="{%url 'myapp:renname1' %}?folder={{folder1.file_is_folder}}\{{folder1.File}}">{{folder1.File}}</a>

{% endblock input %}
{% block input2 %}

<input id="checkbox2" name="checkbox1" type="radio" value="{{folder2.File}}文件"><a href="{%url 'myapp:upfile' %}{{folder2.file_is_folder}}\{{folder2.File}}">{{folder2.File}}</a>

{% endblock input2 %}
{% block del %}
<div id="botton_1" class="botton_1 botton_2" type="submit" value="" ><a href="{% url 'myapp:index' %}?folder={{request.session.fileisfolder}}">取消重命名</a></div>
{% endblock del %}